version: "3.9"

services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - MONGODB_URI=mongodb://mongo:27017/prueba
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./static
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - api

volumes:
  mongo-data:
